
on charger
    # Enable UFS powersaving
    write /sys/devices/platform/bootdevice/clkgate_enable 1

    # Keep two little and one big
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/devices/system/cpu/cpu4/online 0
    write /sys/devices/system/cpu/cpu5/online 0
    write /sys/devices/system/cpu/cpu7/online 0

on init
    # Disable UFS powersaving
    write /sys/devices/platform/bootdevice/clkgate_enable 0

    # Set teo as cpuidle governor
    write /sys/devices/system/cpu/cpuidle/current_governor teo

    # Set schedutil as scaling governor
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpufreq/policy6/scaling_governor "schedutil"

    # Boot time FS tuning
    write /sys/block/sda/queue/iostats 0
    write /sys/block/sda/queue/nr_requests 256
    write /sys/block/sdb/queue/iostats 0
    write /sys/block/sdb/queue/nr_requests 256
    write /sys/block/sdc/queue/iostats 0
    write /sys/block/sdc/queue/nr_requests 256

    # Setup stune groups and permissions
    chown system system /dev/stune

    # Create energy-aware scheduler tuning nodes
    mkdir /dev/stune/background 0775 system system
    mkdir /dev/stune/foreground 0775 system system
    mkdir /dev/stune/top-app 0775 system system
    mkdir /dev/stune/rt 0775 system system
    mkdir /dev/stune/camera-daemon 0775 system system

    # Background
    chown system system /dev/stune/background/tasks
    chmod 0664 /dev/stune/background/tasks
    chown system system /dev/stune/background/schedtune.boost
    chmod 0664 /dev/stune/background/schedtune.boost
    chown system system /dev/stune/background/schedtune.prefer_idle
    chmod 0664 /dev/stune/background/schedtune.prefer_idle

    # Foreground
    chown system system /dev/stune/foreground/tasks
    chmod 0664 /dev/stune/foreground/tasks
    chown system system /dev/stune/foreground/schedtune.boost
    chmod 0664 /dev/stune/foreground/schedtune.boost
    chown system system /dev/stune/foreground/schedtune.prefer_idle
    chmod 0664 /dev/stune/foreground/schedtune.prefer_idle

    # Top-App
    chown system system /dev/stune/top-app/tasks
    chmod 0664 /dev/stune/top-app/tasks
    chown system system /dev/stune/top-app/schedtune.boost
    chmod 0664 /dev/stune/top-app/schedtune.boost
    chown system system /dev/stune/top-app/schedtune.prefer_idle
    chmod 0664 /dev/stune/top-app/schedtune.prefer_idle

    # RT
    chown system system /dev/stune/rt/tasks
    chmod 0664 /dev/stune/rt/tasks
    chown system system /dev/stune/rt/schedtune.boost
    chmod 0664 /dev/stune/rt/schedtune.boost
    chown system system /dev/stune/rt/schedtune.prefer_idle
    chmod 0664 /dev/stune/rt/schedtune.prefer_idle

    # Camera-Daemon
    chown system system /dev/stune/camera-daemon/tasks
    chmod 0664 /dev/stune/camera-daemon/tasks
    chown system system /dev/stune/camera-daemon/schedtune.boost
    chmod 0664 /dev/stune/camera-daemon/schedtune.boost
    chown system system /dev/stune/camera-daemon/schedtune.prefer_idle
    chmod 0664 /dev/stune/camera-daemon/schedtune.prefer_idle

    # Reset stune group setting for NNAPI HAL processes
    write /dev/stune/nnapi-hal/schedtune.boost 0
    write /dev/stune/nnapi-hal/schedtune.prefer_idle 0

    # Update cpus for cpuset cgroup
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/background/cpus 0-2
    write /dev/cpuset/foreground/cpus 0-5,6
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/camera-daemon/cpus 0-5,6-7

on enable-low-power
    # Enable UFS powersaving
    write /sys/devices/platform/bootdevice/clkgate_enable 1

    # Runtime FS tuning
    # We should adjust the setting upon boot_complete for runtime performance
    write /sys/block/sda/queue/iostats 1
    write /sys/block/sda/queue/nr_requests 128
    write /sys/block/sda/queue/read_ahead_kb 512
    write /sys/block/sdb/queue/iostats 1
    write /sys/block/sdb/queue/nr_requests 128
    write /sys/block/sdb/queue/read_ahead_kb 512
    write /sys/block/sdc/queue/iostats 1
    write /sys/block/sdc/queue/nr_requests 128
    write /sys/block/sdc/queue/read_ahead_kb 512

    write /sys/block/dm-0/queue/read_ahead_kb 128
    write /sys/block/dm-1/queue/read_ahead_kb 128
    write /sys/block/dm-2/queue/read_ahead_kb 128
    write /sys/block/dm-3/queue/read_ahead_kb 128
    write /sys/block/dm-4/queue/read_ahead_kb 128
    write /sys/block/dm-5/queue/read_ahead_kb 128

    # Give permission for cpufreq
    chown system system /proc/cpufreq/cpufreq_sched_disable
    chmod 0664 /proc/cpufreq/cpufreq_sched_disable
    chown system system /proc/cpufreq/cpufreq_cci_mode
    chmod 0664 /proc/cpufreq/cpufreq_cci_mode

    # Give permissions for PPM
    chown system system /proc/ppm/policy/cluster_0_min_freq
    chmod 0664 /proc/ppm/policy/cluster_0_min_freq
    chown system system /proc/ppm/policy/cluster_0_max_freq
    chmod 0664 /proc/ppm/policy/cluster_0_max_freq
    chown system system /proc/ppm/policy/cluster_1_min_freq
    chmod 0664 /proc/ppm/policy/cluster_1_min_freq
    chown system system /proc/ppm/policy/cluster_1_max_freq
    chmod 0664 /proc/ppm/policy/cluster_1_max_freq

    # Give permissions for perfmgr
    chown system system /proc/perfmgr/boost_ctrl/eas_ctrl/perfserv_bg_uclamp_min
    chmod 0664 /proc/perfmgr/boost_ctrl/eas_ctrl/perfserv_bg_uclamp_min
    chown system system /proc/perfmgr/boost_ctrl/eas_ctrl/perfserv_fg_uclamp_min
    chmod 0664 /proc/perfmgr/boost_ctrl/eas_ctrl/perfserv_fg_uclamp_min
    chown system system /proc/perfmgr/boost_ctrl/eas_ctrl/perfserv_ta_uclamp_min
    chmod 0664 /proc/perfmgr/boost_ctrl/eas_ctrl/perfserv_ta_uclamp_min

    chown system system /proc/perfmgr/boost_ctrl/dram_ctrl/ddr
    chmod 0664 /proc/perfmgr/boost_ctrl/dram_ctrl/ddr

    # Give permission for Scheduler UClamp
    chown system system /proc/sys/kernel/sched_uclamp_util_min
    chmod 0664 /proc/sys/kernel/sched_uclamp_util_min

    # Configure DVFS
    write /sys/kernel/ged/hal/dvfs_margin_value 130
    write /sys/kernel/ged/hal/timer_base_dvfs_margin 798
    write /sys/kernel/ged/hal/loading_base_dvfs_step 4
    
    # Enable big task rotation
    write /proc/perfmgr/boost_ctrl/eas_ctrl/sched_big_task_rotation 1

    # Enable scheduler and cpufreq integration
    write /proc/cpufreq/cpufreq_sched_disable 0

    # Configure scheduler
    write /proc/sys/kernel/sched_migration_cost_ns 200000
    
    # Configure schedtune
    # Common
    write /dev/stune/schedtune.boost 0
    write /dev/stune/schedtune.prefer_idle 0
    
    # Background
    write /dev/stune/background/schedtune.boost 0
    write /dev/stune/background/schedtune.prefer_idle 0

    # Foreground
    write /dev/stune/foreground/schedtune.boost 0
    write /dev/stune/foreground/schedtune.prefer_idle 0

    # Top-App
    write /dev/stune/top-app/schedtune.boost 0
    write /dev/stune/top-app/schedtune.prefer_idle 0

    # RT
    write /dev/stune/rt/schedtune.boost 15
    write /dev/stune/rt/schedtune.prefer_idle 0

    # Camera-Daemon
    write /dev/stune/camera-daemon/schedtune.boost 10
    write /dev/stune/camera-daemon/schedtune.prefer_idle 1

    # UClamp tuning
    write /proc/sys/kernel/sched_uclamp_util_min 128

    # Enable PowerHAL hint processing
    setprop vendor.powerhal.init 1

on property:sys.boot_completed=1
    trigger enable-low-power